*~
/build
/msicreator
/.flatpak-builder
/build-release
/build-macos
.DS_Store
.project
.cproject
.pydevproject
.settings
*.aps
/app/src/main/jniLibs
/android-cross
.gradle
.idea
.kotlin
local.properties
